/* Estilos Generales */

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

:root {
    --main-bg-color: #F3613C;
    --secon-bg-color: #1E1E26;
    --bg-color-button: #F3603B;
    --tex-color-main: #232C50;
    --text-color-secon: #B3B2B7;
    --text-bg-color:#FFFFFF;
    --weight-1: 400;
    --weight-2: 500;
    --weight-3: 700;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    background-image: url(../imagenes/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

li, a {
    list-style-type: none;
    text-decoration: none;
}

/* Barra de navegación */


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 0%;
}

ul {
    display: flex;
}

nav ul li a {
    padding: 10px;
    color: var(--tex-color-main);
    font-size: 0.8rem;
}

.boton, .boton-2, span { 
    border-radius: 50px;
    padding: 1% 2.3%;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    color:var(--text-bg-color);
    font-size: 0.8rem;
    
}

 .boton a, span {
    color:var(--text-bg-color);
    margin-right:4%;
}

.boton, span {
    background-color: var(--bg-color-button); 
}

.boton-2 {
    background-color: var(--text-bg-color);
    color: var(--bg-color-button);
}



/* Seccion general */

    /* Home */

.home, .nosotros{
    display: flex;
    justify-content: space-between;
    }  

 .tit-test, .testimonios,  .banner, footer, .boton-3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
        }

h1 {
    font-weight: var(--weight-3);
    font-size:3.3rem ;
    color: var(--tex-color-main);
}

p{
    line-height:26px;
    padding: 2% 0%;
    font-weight: var(--weight-2);
    
}

/* Sobre nosotros */

.nosotros {
   align-items: flex-start;
   padding: 6% 0%;
}

.subtitulo, .tex-sub{
    display: flex;
    align-items: center; 
    font-weight: var(--weight-3);
    color: var(--tex-color-main);
}

h2{
    font-weight: var(--weight-3);
    font-size:2.2rem ;
    color: var(--tex-color-main);
    padding: 0% 0% 10%;
    
}

.caracteristicas>p {
    padding-left: 11%;    
    color: var(--text-color-secon);
    font-weight: var(--weight-2);
}

.caracteristicas{padding-left: 9%;}


/*Testimonios */

.caja1{position: relative;
    padding: 4%;
    background-color: #FAFAFA;
    text-align: center;
}

.avatar{
    position: absolute;
    bottom: 88%;
    left: 42.5%;
    width: 70px;
    height: 70px;
}

.testimonios div p{
    color: var(--text-color-secon);
    font-weight: var(--weight-2);    
}   

.testimonios {
    padding-bottom: 3%;
}

h4{
    color: var(--tex-color-main);
}


.section-1{
    margin: 0%  8%;
}

.banner>h2{
    color: var(--text-bg-color);
    font-size: 2.3rem;
    line-height: 1.3;
    font-weight: var(--weight-3);
    padding: 0%;

}

.banner{
    background-color:var(--main-bg-color);
    padding: 4% 0%;
}

.caja-vacia{padding: 4%;}

/* Pie de pagina */

footer {
   background-color: var(--secon-bg-color);
    padding: 4% 0%;
}

.foot-1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    
    
}

footer  ul  {
    /* display: flex;
    flex-direction: column; */
    padding: 10px;  
    color: var(--text-bg-color);
    font-size: 0.8rem;
}


footer p{
    color: var(--text-bg-color);
    font-size: 0.70rem;
    font-weight: var(--weight-1);
}



/*** Responsive */

@media (max-width:375px) {

    body{width: 100%;}
    .home, .nosotros, .testimonios{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 15%;
           

    }

 
}

.avatar{padding: 7%;}

/* 
    .section {

        width:100%;

    } */
/* 
    .formulario,.contacto {

        padding:0;
        width:100%;
        text-align:center;
        padding-top:20px;


    } */




}